:root {
  line-height: 1.5;
  font-family: "Graphik", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 1.5rem;
}